<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Mapeia todas as solicitações para o AspNetCoreModuleV2 -->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\wwwroot\dotnetBackend.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="InProcess">
      <environmentVariables>
        <!-- Adicione variáveis de ambiente aqui, se necessário -->
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
